* {
  margin: 0;
  padding: 0;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Ubuntu', 'verdana','helvetica',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.imgPortada {
  width: 100%; 
}

.fullB{
  width: 100% !important;
}



.centrado{
  margin: 0 auto;
}

#encabezado{
  font-size: 53px;
  color: #4b4e1a;
  font-weight: bold;
  text-shadow: 3px 4px #edff21;
  font-family: 'verdana';
  text-decoration: none;
  text-decoration-style: none;
  text-decoration-color: none;
  text-decoration-line: none;
}

.titulo{
  font-size: 45px;
  font-weight: bold;
  font-family: 'verdana';
  color:#4b4e1a
}

.subtitulo{
  font-family: 'Copperplate';
  color: 1px 2px  #4b4e1a;
  font-weight: bold;      
}

.tituloF{
  font-size: 20px;
  font-weight: bold;
  font-family: 'verdana';
  text-decoration: none;
  text-decoration-style: none;
  text-decoration-color: none;
  text-decoration-line: none;
  color: #4b4e1a;
  cursor: pointer;
}

.tituloF:hover {
  font-size: 25px;
  cursor: pointer;
  text-shadow: 1px 2px #edff21; 
  color:  #4b4e1a;
  text-decoration: none;
  text-decoration-style: none;
  text-decoration-color: none;
  text-decoration-line: none;
}


.cometario{
  color:#4b4e1a;
  font-size: 28px;
  font-family: 'Copperplate Light';
  text-shadow: 1px 2px #edff21   ;
  font-weight: bold
}

.realzar{
  font-size: 19px;
  font-weight: bold;
}

.letraCarrusel{
  color:#4b4e1a;
  font-weight: bold;
}

.footer{
  background-color: #4b4e1a;
  font-weight: bold;
  width:100%;
  height:50px;
  color:#808000;
}

.morado{
  background-color:#4b0082;
}

.grisMorado{
  background-color:#F2F2F2;
}

.beige{
  background-color:#DEB887;
  opacity:0.8; /* Opacidad 60% */
}
/*img encabezado*/

.fotocabecera {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}

.absolute {
  position: absolute;
  top: 120px;
  right: 0;
  width: 300px;
  height: 200px;
}

/*meter barnav */
.relative {
  position: relative;
  width: 600px;
  height: 400px;
}

.barraSup {
font-size: 23px;
font-weight: bold;
font-family: 'Copperplate Light';
text-shadow: 3px 3px #808000;
text-decoration: none;
margin: 0 auto; 
/* position: absolute */
} 

.flexContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flexContainer article{
	width: 100%;
}

.flexContainer article img{
	width: 100%;
}

.ficha {
  cursor: pointer;
  margin: 4px 4px 4px 4px;
  text-decoration: none;
  padding: 1%;
  /* display: inline-block; */   
}

.fichaLi {
  cursor: pointer;
  margin: 3px 3px 3px 3px;
  text-decoration: none;
  padding: 2%;
  border-radius: 40px; 
  margin-left: 12px;
  display: inline-block;
  width: 32%; /* ancho */
  height: 450px;  /* alto */
      
}

.fotoLi{  
  border-radius: 25px;
   margin: auto;
   border: 3px solid #edff21 ;
   float: left;
   width: 95%;
   height: 260px; 
   padding: 1px; 
 }

.fichaPr {
  cursor: pointer;
  margin: 3px 3px 3px 3px;
  text-decoration: none;
  padding: 3%;
  border-radius: 40px; 
  margin-left: 12px;
  /* display: inline-block; */
  width: 90%; /* ancho */
  height: 100%;  /* alto */
  float: left;    
}

.fotoPr{  
  border-radius: 40px;
  margin: auto;
  border: 3px solid #edff21;
  float: left;
  width: 30%; /* ancho */
  height: 25%;  /* alto */ 
  padding:1px; 
}
.fotoArticulo{
  width: 100%; /* ancho */
  height: 260px;  /* alto */
}

i.material-icons {
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  /* border: 1px solid; */
  padding: 5px;
  box-shadow: 1px 2px  #edff21;
  color:#4b4e1a;

}

i.material-icons:hover {
  font-size: 35px;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  box-shadow: 0px 0px; 

}

@media only screen and (min-width: 768px){
	.flexContainer article{
		width: 48%;
	}

}


@media only screen and (min-width: 992px){

	.flexContainer article{
		width: 32%;
	}


}


@media only screen and (min-width: 1200px){
	
}

 

